input:focus {
    outline: none;
}
.form-control:focus {
    border: none;
    border-bottom: 1px solid #ffc107 !important;
    box-shadow: 1px 4px 2px 0px rgba(0, 123, 255, 0);
}
.none-background {
    color: white !important;
    background: none;
}