.my-background{
    background-image: url('https://pixabay.com/get/57e7d0424e57a914f6da8c7dda793e76133fdbe4534c704c7d2b7fd7964dc058_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    backdrop-filter: brightness(1.5);
    -webkit-filter: brightness(0.8); 
    filter: brightness(0.8);
}
.my-filter {
    backdrop-filter: contrast(0.6); 
}
