/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar {
    color: red !important;
    width: 25px;
    height: 25px;
  }
  
::-webkit-scrollbar-button {
    color: red !important;
    width: 25px;
    height: 25px;
}
  
html, 
body {
    height: 100%;
}

body{
    background: #fff;
    text-shadow: -1px 3px 5px rgba(0,0,0,.1);
    color: white;
}