/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}
  
html, 
body {
    height: 100%;
}

body{
    background: #fff;
    text-shadow: -1px 3px 5px rgba(0,0,0,.1);
    color: white;
}